doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title about
    script(src='vendor.bundle.js')
    script(src='app.bundle.js')
    link(rel='stylesheet', href='../style.css')
    link(rel='stylesheet', href='./about.css')
  body
    h1 about
    h3#test1
    #test2
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsum cumque eaque incidunt nobis, nostrum velit optio ipsam provident tempore quas alias, pariatur, quidem laboriosam dolores perferendis rem accusamus! Dolores.
